*{
  margin: 0;
  padding: 0;
}

.category-btn:hover{
  color: #1ca677;
}

.category-container{
  flex-wrap: wrap;
  padding-top: 20px;
}

.img-container{
  width: 476px;
  height: 824px;
  position: relative;
  top: -80px;
}

.recipe-img{
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.recipe-container{
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: center;
}

.header{
  background: #1ca677;
  width: 100%;
  height: 300px;
  padding: 20px;
}

.category-btn{
  border-radius: 16px;
  color: #6f737a;
  background: #f6f8fb;
  font-size: 14px;
  border: none;
  padding: 10px 24px;
  font-weight: 600;
  margin-right: 10px;
  transition: color 0.3s;
  margin-bottom: 20px;
}

.container{
  position: relative;
  top: -80px;
    display: flex;
    flex-direction: column;
    width: 600px;
  gap: 20px;

}

.recipe-inner-container{
  padding:  0 60px 0 0;
}

.recipe-title{
  font-size: 72px;
  padding-bottom: 20px;
  font-weight: 700;
  color: #333;
}

.ratings{
  padding-bottom: 20px;
  color: #1ca677;
  font-weight: 600;
  margin-left: 10px;
}

.timer{
  font-size: 42px;
  font-weight: 700;
  color: white;
}

.ready-time p{
  color: white;
}

.ready-time-p{
  font-weight: 600;
  margin-left: 45px;
}

.nutrients-container{
  width: 100%;
  min-height: 300px;
  border-radius: 16px;
  padding: 40px;
  border: 2px solid #ebeff4;
}

.rating-container{
  padding-bottom: 20px;
}

mat-icon{
  color: orange;
}

.timer-icon{
  width: fit-content;
  height: fit-content;
  font-size: 42px;
  margin-right: 5px;
  color: rgba(246, 246, 246, 0.75);
}

.ingredients-section{
  width: 60%;
  min-height: 200px;
  margin: auto;
}

.ingredient-container{
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ingredient{
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background: #ebeff4;
  display: flex;
  align-items: center;
  height: 100%!important;
  margin-bottom: 8px;
  font-size: 21px;
  font-weight: 600;
}

.ingredient-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ingredient-name{
  margin-left: 40px;
}

.ingredients-h1{
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  padding-bottom: 40px;
}

.quantity{
  color: #6f737a;
}

.steps-section{
  width: 60%;
  min-height: 200px;
  margin: auto;
  padding-bottom: 40px;
}

.step-number{
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.recipe-steps-container{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.steps-and-timer{
  display: flex;
  background: #f6f8fb;
  border-radius: 100px;
  padding: 16px 24px;
  font-weight: 600;
}

.delimitator{
  padding: 0 5px 0 5px;
}

.timer-icon-steps{
  color: #a8a8a8;
  padding-right: 5px;
  margin-right: 5px;
}
