<main class="recipe-container">
  <div class="recipe-description-left-panel">
    <h1 class="recipe-title">Keto Italian Beef With Cabbage Noodles</h1>
    <p class="ratings">1719 ratings</p>
    <p class="description">
      This meal is a gut-filling crowd pleaser! The thinly sliced cabbage acts like “noodles” in this hearty Italian meat sauce. It requires only a little prep work, and is finished within about 30 minutes so there’s no need to slave over the stove for hours! The recipe yields 8 servings which may sound like a lot, but this dish is great to meal prep to keep in the fridge and freezer for future meals!
    </p>
    <div class="category-container" >
      <button *ngFor="let category of categories" class="category-btn">{{category}}</button>
    </div>
  <section class="nutrients-container">

  </section>
  </div>

  <div class="img-container">
    <img class="recipe-img" src="https://cdn.pixabay.com/photo/2016/02/19/15/46/labrador-retriever-1210559__480.jpg" alt="">
  </div>


</main>
