<header class="header">
  <img src="https://images.prismic.io/cm-website/bdb7a4a4-0011-4597-a639-7b34692fb26b_hero%402x.jpg" alt="" >
  <app-search-recipe></app-search-recipe>
</header>
<main class="container">

<h1 class="page-title">Popular Recipes</h1>
<div class="recipes-container">
  <app-recipe-showcase
    *ngFor="let item of recipes"
    [routerLink]="['/recipe-detail', item['id']]"
    [recipeImage]="item['image']"
    [recipeName]="item['title']"
    [recipeCookingTime]="item['readyInMinutes']"
    [recipeRating]="item['aggregateLikes']"
  >
  </app-recipe-showcase>
</div>
</main>
