/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Montserrat:wght@400;600;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
*{
  font-family: 'Montserrat', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
